html:root {
  --colors-indigo-500: 99, 102, 241;
  --colors-indigo-800: 55, 48, 163;
  --colors-indigo-600: 79, 70, 229;
  --colors-indigo-500: 99, 102, 241;
  --colors-indigo-300: 165, 180, 252;
  --colors-indigo-100: 224, 231, 255;
  --colors-indigo-500: 99, 102, 241;
  --colors-emerald-500: 16, 185, 129;
  --colors-emerald-800: 6, 95, 70;
  --colors-emerald-600: 5, 150, 105;
  --colors-emerald-500: 16, 185, 129;
  --colors-emerald-300: 110, 231, 183;
  --colors-emerald-100: 209, 250, 229;
  --colors-emerald-500: 16, 185, 129;
  --colors-amber-500: 245, 158, 11;
  --colors-amber-800: 146, 64, 14;
  --colors-amber-600: 217, 119, 6;
  --colors-amber-500: 245, 158, 11;
  --colors-amber-300: 252, 211, 77;
  --colors-amber-100: 254, 243, 199;
  --colors-amber-500: 245, 158, 11;
  --colors-red-500: 239, 68, 68;
  --colors-red-800: 153, 27, 27;
  --colors-red-600: 220, 38, 38;
  --colors-red-500: 239, 68, 68;
  --colors-red-300: 252, 165, 165;
  --colors-red-100: 254, 226, 226;
  --colors-red-500: 239, 68, 68;
  --colors-red-500: 239, 68, 68;
  --colors-red-800: 153, 27, 27;
  --colors-red-600: 220, 38, 38;
  --colors-red-500: 239, 68, 68;
  --colors-red-300: 252, 165, 165;
  --colors-red-100: 254, 226, 226;
  --colors-red-500: 239, 68, 68;
  --colors-gray-500: 107, 114, 128;
  --colors-gray-800: 31, 41, 55;
  --colors-gray-600: 75, 85, 99;
  --colors-gray-500: 107, 114, 128;
  --colors-gray-300: 209, 213, 219;
  --colors-gray-100: 243, 244, 246;
  --colors-gray-500: 107, 114, 128;
}

html:root,
html.dark:root {
  --primary-color: var(--colors-indigo-500);
  --el-color-primary: rgb(var(--primary-color));
  --primary-3-color: var(--colors-indigo-800);
  --primary-5-color: var(--colors-indigo-600);
  --primary-7-color: var(--colors-indigo-500);
  --primary-8-color: var(--colors-indigo-300);
  --primary-9-color: var(--colors-indigo-100);
  --el-color-primary-light-3: rgb(var(--primary-3-color));
  --el-color-primary-light-5: rgb(var(--primary-5-color));
  --el-color-primary-light-7: rgb(var(--primary-7-color));
  --el-color-primary-light-8: rgb(var(--primary-8-color));
  --el-color-primary-light-9: rgb(var(--primary-9-color));
  --primary-2-color: var(--colors-indigo-500);
  --el-color-primary-dark-2: rgb(var(--primary-2-color));
  --success-color: var(--colors-emerald-500);
  --el-color-success: rgb(var(--success-color));
  --success-3-color: var(--colors-emerald-800);
  --success-5-color: var(--colors-emerald-600);
  --success-7-color: var(--colors-emerald-500);
  --success-8-color: var(--colors-emerald-300);
  --success-9-color: var(--colors-emerald-100);
  --el-color-success-light-3: rgb(var(--success-3-color));
  --el-color-success-light-5: rgb(var(--success-5-color));
  --el-color-success-light-7: rgb(var(--success-7-color));
  --el-color-success-light-8: rgb(var(--success-8-color));
  --el-color-success-light-9: rgb(var(--success-9-color));
  --success-2-color: var(--colors-emerald-500);
  --el-color-success-dark-2: rgb(var(--success-2-color));
  --warning-color: var(--colors-amber-500);
  --el-color-warning: rgb(var(--warning-color));
  --warning-3-color: var(--colors-amber-800);
  --warning-5-color: var(--colors-amber-600);
  --warning-7-color: var(--colors-amber-500);
  --warning-8-color: var(--colors-amber-300);
  --warning-9-color: var(--colors-amber-100);
  --el-color-warning-light-3: rgb(var(--warning-3-color));
  --el-color-warning-light-5: rgb(var(--warning-5-color));
  --el-color-warning-light-7: rgb(var(--warning-7-color));
  --el-color-warning-light-8: rgb(var(--warning-8-color));
  --el-color-warning-light-9: rgb(var(--warning-9-color));
  --warning-2-color: var(--colors-amber-500);
  --el-color-warning-dark-2: rgb(var(--warning-2-color));
  --danger-color: var(--colors-red-500);
  --el-color-danger: rgb(var(--danger-color));
  --danger-3-color: var(--colors-red-800);
  --danger-5-color: var(--colors-red-600);
  --danger-7-color: var(--colors-red-500);
  --danger-8-color: var(--colors-red-300);
  --danger-9-color: var(--colors-red-100);
  --el-color-danger-light-3: rgb(var(--danger-3-color));
  --el-color-danger-light-5: rgb(var(--danger-5-color));
  --el-color-danger-light-7: rgb(var(--danger-7-color));
  --el-color-danger-light-8: rgb(var(--danger-8-color));
  --el-color-danger-light-9: rgb(var(--danger-9-color));
  --danger-2-color: var(--colors-red-500);
  --el-color-danger-dark-2: rgb(var(--danger-2-color));
  --error-color: var(--colors-red-500);
  --el-color-error: rgb(var(--error-color));
  --error-3-color: var(--colors-red-800);
  --error-5-color: var(--colors-red-600);
  --error-7-color: var(--colors-red-500);
  --error-8-color: var(--colors-red-300);
  --error-9-color: var(--colors-red-100);
  --el-color-error-light-3: rgb(var(--error-3-color));
  --el-color-error-light-5: rgb(var(--error-5-color));
  --el-color-error-light-7: rgb(var(--error-7-color));
  --el-color-error-light-8: rgb(var(--error-8-color));
  --el-color-error-light-9: rgb(var(--error-9-color));
  --error-2-color: var(--colors-red-500);
  --el-color-error-dark-2: rgb(var(--error-2-color));
  --info-color: var(--colors-gray-500);
  --el-color-info: rgb(var(--info-color));
  --info-3-color: var(--colors-gray-800);
  --info-5-color: var(--colors-gray-600);
  --info-7-color: var(--colors-gray-500);
  --info-8-color: var(--colors-gray-300);
  --info-9-color: var(--colors-gray-100);
  --el-color-info-light-3: rgb(var(--info-3-color));
  --el-color-info-light-5: rgb(var(--info-5-color));
  --el-color-info-light-7: rgb(var(--info-7-color));
  --el-color-info-light-8: rgb(var(--info-8-color));
  --el-color-info-light-9: rgb(var(--info-9-color));
  --info-2-color: var(--colors-gray-500);
  --el-color-info-dark-2: rgb(var(--info-2-color));
}

html.dark:root {
  --el-color-primary-light-9: rgb(var(--primary-5-color));
  --el-color-primary-light-9: rgb(var(--primary-8-color));
  --el-color-success-light-9: rgb(var(--success-5-color));
  --el-color-success-light-9: rgb(var(--success-8-color));
  --el-color-warning-light-9: rgb(var(--warning-5-color));
  --el-color-warning-light-9: rgb(var(--warning-8-color));
  --el-color-danger-light-9: rgb(var(--danger-5-color));
  --el-color-danger-light-9: rgb(var(--danger-8-color));
  --el-color-error-light-9: rgb(var(--error-5-color));
  --el-color-error-light-9: rgb(var(--error-8-color));
  --el-color-info-light-9: rgb(var(--info-5-color));
  --el-color-info-light-9: rgb(var(--info-8-color));
}
