<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.subject %></title>
    <style type="text/css">
      .code_p {
        text-align: center;
        font-size: 1.5rem;
        vertical-align: bottom;
      }

      .code {
        text-align: center;
        color: red;
        font-size: 2rem;
        font-weight: bold;
        vertical-align: bottom;
        background: #ccc;
        padding: 0.5rem;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <p class="code_p">移动端长按复制或PC端双击右键复制</p>
    <p class="code_p">您好，您的验证码是:</p>
    <p class="code"><%= locals.code %></p>
  </body>
</html>
